@{
    var rootURL = "";
    var date = DateTime.Now;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="content wrapper root">
    <div class="wrapper ">
        <header class="page-layout">
            <a href="@(rootURL)" class="wrapper">
                <img src="~/Media/miun.png" alt="Mid sweden university logotype."/>
            </a>
            <div class="main-page-data">
                <p>Dagens datum: @date.ToString("dd-MM-yyy")</p>
            </div>
        </header>
    </div>
    <div class="wrapper page-layout">
        <aside>
            <nav>
                <ul>
                    <li>
                        <a href="@(rootURL)/">Start</a>
                    </li>
                    <li>
                        <a href="@(rootURL)/Razor/">Razor</a>
                    </li>
                    <li>
                        <a href="@(rootURL)/About/">About</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="wrapper">
            @RenderBody()
        </main>
    </div>
</div>
<div class="wrapper root">
    <footer class="border-top footer text-muted">
        <p>By Elias Eriksson - <a href="mailto:eliaseriksson95@gmail.com">mail</a> - <a href="https://github.com/EliasEriksson/asp1">repo</a></p>
    </footer>
</div>
</body>
</html>